@import 'https://fonts.googleapis.com/css?family=Raleway';

//FONTS
$font-family-default: 'Raleway', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-light: 'Raleway Light', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

//BACKGROUND
$background-default: #eee; //url('/img/bg.png');

$enable-flex: true;
